.page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.link {
  width: 100%;
  height: 100vh;
}
.link img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top left;
  cursor: pointer;
}
